.containerFrontend {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 1rem;
  padding: 3rem 0;
  
@media (min-width: 600px) {
  grid-template-columns: repeat(2, 1fr); 
}

@media (min-width: 900px) {
  grid-template-columns: repeat(4, 1fr); 
}
}

.card{
 color: black;
border-radius: 4px;
display: flex;
flex-direction: column;
 margin: auto;
 margin-bottom: 1rem;
 margin-top: 16px;
 height: 650px;
  width: 18rem;
   text-align: center;
-webkit-box-shadow: -8px 5px 5px -3px  rgba(255,255,255,0.2);
-moz-box-shadow: -8px 5px 5px -3px  rgba(255,255,255,0.2);
box-shadow: -8px 10px 5px -3px rgba(255,255,255,0.2);
  @media only screen and (min-width: 320px) and (max-width: 768px){
height: 680px;
}

.cardimage{
    border: none; 
  border-radius: 15px;
  width: 210px;
 display: flex;
flex-direction: column;
//justify-content: center;
 //align-items: center;
 margin: auto;
}

.cardbody{
  display: flex;
  flex-direction: center;
justify-content: center;
  padding: 1rem 0;
  margin: 0px;
}

.title{
  font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
margin: 1rem 0.5rem;
text-align: center;
}

.button{
  border-radius: 10px;
  border: none;
  font-size: 13px;
  padding: 0.5rem;
  margin: 1rem;
    color: var(--darkblue);
   border-bottom: 2px solid var(--darkblue);
    border-top: 2px solid #52688F;
background: transparent;
}

.button:hover{
  background: white;
  cursor: pointer;
  color: white;
  border: noe;
 background: var(--darkblue);
}  

   .cardlink{
  color: black;
  text-decoration: none;
  font-size: 16px;
     margin-right: 2rem;
      margin-left: 2rem;
}
   .cardlink:hover{
        color: var(--darkblue);
        border-bottom: 1px solid var(--darkblue);
   }

   .cardlinks{
  color: var(--darkblue);
  text-decoration: none;
  font-size: 16px;
     margin-right: 2rem;
      margin-left: 2rem;
      font-weight: bold;
}
   .cardlinks:hover{
        color: black;
        border-bottom: 1px solid var(--darkblue);
   }

}