.containerFrontend {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 1rem;
  padding: 3rem 0;
  
@media (min-width: 600px) {
  grid-template-columns: repeat(2, 1fr); 
}

@media (min-width: 900px) {
  grid-template-columns: repeat(4, 1fr); 
}
}

.card{
 width: 280px;
  height: 650px;
  border-radius: 15px;
  padding: 20px;
  color: black;
  text-align: center;
  margin:auto;
  background: #fff;
-webkit-box-shadow: -8px 5px 5px -3px rgba(255,255,255,0.2);
-moz-box-shadow: -8px 5px 5px -3px  rgba(255,255,255,0.2);
box-shadow: -8px 10px 5px -3px  rgba(255,255,255,0.2);
  @media only screen and (min-width: 320px) and (max-width: 768px){
height: 680px;
}
  
.cardimage{
  border: none; 
  border-radius: 15px;
  width: 250px;
}

.title{
  font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
margin: 0.5rem;
text-align: center;
  @media only screen and (min-width: 320px) and  (max-width: 480px){
  line-height: 60px;
}
}

.cardbody{
  display: flex;
  flex-direction: row;
justify-content: space-between;
  padding: 1rem 0;
  margin: 0px;
}

.button{
  border-radius: 10px;
  border: none;
  font-size: 13px;
  padding: 0.5rem;
    color: var(--darkpurple);
   border-bottom: 2px solid var(--darkblue);
    border-top: 2px solid #52688F;
background: transparent;
margin-bottom: 10px;
}

.button:hover{
  background: white;
  cursor: pointer;
  color: white;
  border: noe;
 background: var(--darkblue);
}  

   .cardlink{
  color: black;
  text-decoration: none;
  font-size: 16px;
     margin-right: 2rem;
      margin-left: 2rem;
}
   .cardlink:hover{
        color: var(--darkpurple);
        border-bottom: 1px solid var(--orange);
   }

   .cardlinks{
  color: var(--darkpurple);
  text-decoration: none;
  font-size: 16px;
     margin-right: 2rem;
      margin-left: 2rem;
      font-weight: bold;
}
   .cardlinks:hover{
        color: black;
        border-bottom: 1px solid var(--orange);
   }



}