
.CardComponentContainer{
  overflow-x: hidden;
  width: 100%;
  margin: 0px;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
background: var(--darkpurple);
padding: 5rem 3rem;

.title{
  color: white;
  font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 80px;
text-align: center;
  @media only screen and (min-width: 320px) and  (max-width: 480px){
  line-height: 60px;
}
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 16px;
  color: black;
}
.card:hover{
 transform: scale(1.05);
}
}