@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    position: relative;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 0;
}

.timeline-item-content {
   /* box-shadow: 0 0 0.9rem rgba(20, 60, 50, 0.5);
    border-radius: 15px 40px 30px 0px;*/
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    position: relative;
   width: 400px;
    max-width: 70%;
    text-align: right;
}



.timeline-item:nth-child(odd) .timeline-item-content {
    text-align: left;
    align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    top: 5px;
    left: 5px;
    letter-spacing: 1px;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
    left: auto;
    right: 5px;
}

.timeline-item-content time {
    color: #777;
    font-size: 12px;
    font-weight: bold;
}

.timeline-item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    max-width: 250px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid var(--darkblue);
    border-top: 2px solid #52688F;
    padding: 10px 5px;
    font-family: "space Mono";
   
   }

.message {
  font-family: "Poppins", "Sans-Serif";
  margin-bottom: 10px;
  line-height: 28px;
}

.timeline-item-content .circle {
    border-bottom: 2px solid #52688F;
    border-top: 2px solid var(--darkblue);
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 20px);
   right: -135px;
    width: 100px;
    height: 40px;
    z-index: 100;
    padding: 5px 15px;
    font-size: 0.9rem;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -135px;
    font-size: 0.9rem;
}

media only screen and (max-width: 1023px) {
    .timeline-item-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .timeline-item-content,
    .timeline-item:nth-child(odd) .timeline-item-content {
        padding: 15px 10px;
        text-align: center;
        align-items: center;
    }

    .timeline-item-content .tag {
        width: calc(100% - 10px);
        text-align: center;
    }

    .timeline-item-content time {
        margin-top: 20px;
    }

.message {
  width: 130px;
 line-height: 25px;
  font-family: "Poppins", "Sans-Serif";
  margin-bottom: 10px;
  padding: 3px;
}

}