
.nav,
.links,
.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  margin: 0 auto;
  .links,
  .cta {
    gap: 2rem;
  }

  .links {
    // flex-direction: column;
    // @media (min-width: 992px) {
    //   flex-direction: row;
    // }
    a.active {
      color: black;
      border-bottom: 2px solid black;
    }

    a {
      &:hover {
        color: black;
      }
    }
    a {
      color: black;
      line-height: 20px;
      font-weight: 500;
      /* identical to box height */
      letter-spacing: -0.204545px;
    }
  }
}

.navbarLink,
.cta {
  display: none;
  @media (min-width: 992px) {
    display: flex;
  }
}

.ctaMobile {
  width: 100%;
  a {
    width: 100%;
    margin: 1rem 0;
  }
}

.logoutBtn {
  border: 1px solid red;
  background: transparent;
  color: red;
  transition: 0.3s ease;
  &:hover {
    box-shadow: 0px 0px 0px 4px #ff000050;
  }
}

.sidebar {
  border: 1px solid red;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  z-index: 100;
  border-right: 1px solid lightgray;
  background-color: white;
  transition: 1s all ease;

  .backdrop {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 2;
    background-color: white;
    // gap: 5rem;

    .links {
      align-items: flex-start;
      width: 100%;
      a {
        padding: 1rem;
      }
    }
  }
}
