
.toggle{
    cursor: pointer;
    padding: .5rem .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* width: 6rem; */
    border-radius: 3rem;
     border-bottom: 2px solid var(--darkblue);
    border-top: 2px solid #52688F;
    background: transparent;
    /* background-color: rgb(237, 237, 237); */
    box-shadow: inset 3px 3px 3px var(--neu-dark),
                inset -3px -3px 3px var(--neu-light);
}

.sun{
  color: var(--color-warning);
}

.moon{
  color:  var(--darkblue);
}