
.login {
  display: flex;
  //align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  //background: var(--input-color);
  border-radius: 8px;
  border: none;
}
.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}
.login__google {
  background-color: #4285f4;
}
.login div {
  margin-top: 7px;
}