.dashboard {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboardTitle{
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 80px;
padding-top: 0.5rem;
text-align: center;
  }
  
.dashboardText{
font-family: 'Space Mono';
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
//padding-top: 0.5rem;
text-align: center; 
padding: 1rem;
}
 
.toggle{
    cursor: pointer;
    padding: .5rem .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* width: 6rem; */
    border-radius: 3rem;
     border-bottom: 2px solid var(--darkpurple);
    border-top: 2px solid #52688F;
    background: transparent;
    /* background-color: rgb(237, 237, 237); */
    box-shadow: inset 3px 3px 3px var(--neu-dark),
                inset -3px -3px 3px var(--neu-light);
}

.sun{
  color: var(--color-warning);
}

.moon{
  color: skyblue;
}