
.headerHero{
  overflow-x: hidden;
  width: 100%;
  .headerBox{
    padding: 32px;
 @media only screen and (min-width: 320px) and  (max-width: 480px){
   padding: 0px ;
}
  }
  .headerTitle{
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 80px;
color: var(--color-title);
  @media only screen and (min-width: 320px) and  (max-width: 480px){
  font-size: 52px;
  line-height: 60px;
}
  }
  .headerSubtitle{
font-family: 'Space Mono';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
  @media only screen and (min-width: 320px) and  (max-width: 480px){
  font-size: 16px;
  line-height: 20px;
}
}
.headerInput{
  box-sizing: border-box;
width: 272px;
height: 62px;
background: #F2F2F2;
border:none;
margin-bottom: 0.5rem;
}
.headerBtn{
font-family: 'Commissioner';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-align: center;
text-transform: uppercase;
background: #E8C5B0;
border-radius: 4px;
height: 62px;
border: none;
color: rgba(29, 70, 69, 1);
padding: 1rem 1rem;
}

.headerContent{
   display: flex;
   flex-direction: column;
   margin-top: 20px;
   //align-items: center;
   justify-content: center;
}

.headerBottom{
font-family: 'Commissioner';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 31px;
text-transform: uppercase;
color: #000000;
  @media only screen and (min-width: 320px) and (max-width: 480px){
  font-size: 20px;
}
}

.headerBottomSub{
font-family: 'Commissioner';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 31px;
text-transform: uppercase;
color: rgba(29, 70, 69, 1);
  font-size: 40px;
}

}
