
.headerHero{
  overflow-x: hidden;
  width: 100%;
  
  .headerContent{
    display: flex;
    //flex-direction: row;
     @media only screen and (min-width: 320px) and  (max-width: 768px){
    display: flex;
    flex-direction: column;
}
  }
  
  .heroimg:hover{
transform: scale(1.11);
  }
  
  .headerTitle{
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 80px;
color: var( --darkblue);
  @media only screen and (min-width: 320px) and  (max-width: 480px){
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
 @media only screen and (min-width: 481px) and  (max-width: 768px){
  font-size: 30px;
  line-height: 34px;
   text-align: center;
}
  }
  
  .headerSubtitle{
font-family: 'Space Mono';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;
  @media only screen and (min-width: 320px) and  (max-width: 768px){
  font-size: 16px;
  line-height: 24px;
   text-align: center;
}
}

.headerInput{
box-sizing: border-box;
width: 250px;
height: 62px;
border:none;
margin-bottom: 0.5rem;
 @media only screen and (min-width: 320px) and  (max-width: 768px){
 height: 45px;
}
}

.headerBtn{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-align: center;
text-transform: uppercase;
background: var(--darkblue);
border-radius: 4px;
height: 62px;
border: none;
color: white;
padding: 1rem 1rem;
}

.headerBtn:hover{
border: 1px solid var(--darkblue);
background: transparent;
}

.headerContent{
   display: flex;
   flex-direction: column;
   margin-top: 20px;
   justify-content: center;
  @media only screen and (min-width: 320px) and (max-width: 768px){
  text-align: center;
}
}

.headerBottom{
font-family: 'space Mono';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 31px;
text-transform: uppercase;
  @media only screen and (min-width: 320px) and (max-width: 768px){
  font-size: 20px;
}
}

.headerBottomSub{
font-family: 'space Mono';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 31px;
text-transform: uppercase;
color: var( --darkblue);
font-size: 40px;
}
}
