@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* Variables */
:root{
--input-color:  #EFF0F2;
    --black : #242D49;
    --gray : #788097;
    --darkblue: #4AA2F7;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --darkpurple: #d368c7;
  --color-text:#05b8e8;
  --color-title: #32CD30;
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark:  #1D4645;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-bg: #e0f0f8;
  --color-light-bg: rgba(255, 255, 255,0.1);
--dark-blue: #03045e;
  --box-shadow: 0 2rem 3rem var(--color-light);
  --transition: all 500ms ease;
  --bg-glass: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(212, 247, 249, 0.2)) ;

  /* ======= neumorphic ======== */
  --neu-light: rgba(211, 211, 211, 0.2);
  --neu-dark: rgba(0,0,0,.2);
}
  
  /* ========= Dark Theme Variable ========== */
[data-theme = "dark"]{
 --black : #fff;
  --color-bg: rgba(19, 23, 48, 1);
  --color-white: #202528;
  --color-dark:  #1D4645;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0,0,0,0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
  --color-info-light: #616568;
  --neu-light: rgba(225, 225, 225, 0.2);
  --neu-dark: rgba(47, 47, 47, 0.2);
  --bg-glass: linear-gradient(to bottom right, rgba(0, 0, 0, 0.3), rgba(34, 43, 43, 0.3)) ;
  --color-light-bg: rgba(90, 90, 90, 0.1);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Mono', Commissioner;
}
.app{
  background: var(--color-bg);
   color: var(--black); 
   .link{
  color: var(--black);
  text-decoration: none;
  font-size: 20px;
     margin-right: 2rem;
      margin-left: 2rem;
}
   .link:hover{
        color: var(--darkblue);
   }
      .logo{
    flex-grow: 1;
    cursor: pointer;
    color: var(--darkblue);
    text-decoration: none;
  }
}

html, body, .app{
  max-width: 100vw;
  overflow-x: hidden;
}

.m0-3{
  margin: 0 1.5rem;
}

.p0-3{
  padding: 3rem 0;
}

.btn{
  border-radius: 34px;
  border: none;
  font-size: 16px;
  padding: 11px 26px;
    color: var( --darkblue);
   border-bottom: 2px solid var( --darkblue);
    border-top: 2px solid #52688F;
  //box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
     margin-right: 1rem;
      margin-left: 1rem;
}

.btn:hover{
  background: white;
  cursor: pointer;
  color: white;
  border: none;
 background: var(--darkblue);
}  

@media only screen and (min-width: 280px) and (max-width: 1080px){
  html, 
  body,
  .app{
    max-width: 100vw;
    overflow-x: hidden;
  }
  .app::webkit-scrollbar{
    display: none;
  }
}

::webkit-scrollbar{
  background-color: white;
  width: 0.3rem;
}

::webkit-scrollbar-thumb{
  background-color: var(--dark-blue);
}
.testimonyenvelope{
  display: flex;
  align-items: center;
  justify-content: center;
 margin: 0.5rem 0rem;
  flex-direction: column;
}

 .testimonyBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.headerRow{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}