
.PreparationContainer{
  padding: 16px 32px;
.rowproduct{
  justify-content: space-between;
  margin: 100px auto 50px;
  display: flex;
  flex-direction: row;
}

.PreparationBtn{
  box-sizing: border-box;
  border: 1px solid var(--darkblue);
  padding: 30px 10px;
  background: transparent;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  margin-left: 1.5rem;
  @media only screen and (min-width: 320px) and  (max-width: 768px){
 padding: 10px 10px;
} 
}
 .PreparationBtn:hover{
    transform: scale(1.05);
     background: var(--darkblue);
     color: white;
  }
.PreparationBtn:focus{
  outline: none;
}
  .headerTitle{
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 64px;
text-transform: capitalize;
  @media only screen and (min-width: 320px) and  (max-width: 768px){
  font-size: 16px;
  line-height: 20px;
}
  }
  
  
.orange{
background: var(--darkblue);
color: white;
border-radius: 10px;
display: flex;
justify-content: center;
flex-direction: column;
  margin: auto;
  margin-top: 16px;
   webkit-box-shadow: -8px 5px 5px -3px  rgba(74, 162, 247, 0.5);
-moz-box-shadow: -8px 5px 5px -3px rgba(74, 162, 247, 0.5);
box-shadow: -8px 10px 5px -3px rgba(74, 162, 247, 0.5);
}

.darkgreen{
color: white;
background: var(--darkblue);
mix-blend-mode: normal;
opacity: 0.7;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
border-radius: 10px;
margin-top: 16px;
-webkit-box-shadow: -8px 5px 5px -3px  rgba(255,255,255,0.3);
-moz-box-shadow: -8px 5px 5px -3px  rgba(255,255,255,0.3);
box-shadow: -8px 10px 5px -3px rgba(255,255,255,0.3);
}

.orangeImg{
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
}