.headerTitle{
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 80px;
color: var( --darkblue);
  @media only screen and (min-width: 320px) and  (max-width: 768px){
  font-size: 24px;
  line-height: 28px;
}
  }
  
  .backend{
border-radius: 4px;
display: flex;
flex-direction: column;
 height: 100vh;
  width: 100%;
text-align: center;
  }
  